.sidenav-custom{
    width: 18%;
}

.list-item{
   padding-top: 20px;

}

.nav-icons{
    padding-right: 30px;
}
.plant-img{
    width: 300px;
    height: 300px;
    padding-left: 15px;
}
#header-text{
    text-align: center;
        display: inline-block;
        width: 100%;
        font-size: xx-large;
}