<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav-custom">
    <mat-nav-list>
      <img src="../../../assets/images/plant.jpg" alt="plant image" class="plant-img">
      <div style="padding-top: 20px;">
        <a mat-list-item [routerLink]="'/landing'" class="list-item" (click)="onToggleClose()">
          <mat-icon class="nav-icons">home</mat-icon> <span>Home</span>
        </a>
        <a mat-list-item [routerLink]="'/recom'" class="list-item" (click)="onToggleClose()">
          <mat-icon class="nav-icons">bar_chart</mat-icon><span>Recommendation</span>
        </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100vh;">
      <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Menu" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <span id="header-text">CaterGreen</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>