<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav-custom">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/accounts'" class="list-item"> Accounts </a>
      <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
      <button mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100vh;">
      <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Menu" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>