table {
  width: 100%;
}
.second-row-container {
  padding-top: 20px;
  margin-bottom: 1%;

}
.footer-charts-card-text {
  text-align: center;
}

.table-header-banner{
  border-radius: 0 !important;
  box-shadow: none;
    border-bottom: 2px solid #e0e0e0 !important;
}
.table-row-item{
 height: 75px !important;
}
